@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap");

:root {
  --color-primary-default: #072ac8;
  --color-primary-accent: #43d2ff;
  --color-primary-hover: #a2d6f9;
  --color-primary-tapped: #d1edff;
  --color-neutral-dark: #292e47;
  --color-neutral-medium: #6b708d;
  --color-neutral-light: #f2f4fc;
  --color-neutral-light-blue: #ecf7ff;
  --color-yellow: #ffc600;
}
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
body {
  font-family: "Roboto", "Open Sans";
  color: var(--color-neutral-medium);
  background-color: var(--color-neutral-light);
}
h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--color-neutral-dark);
}
h2 {
  font-size: 50px;
  font-weight: 700;
}
h3 {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-neutral-dark);
}
h4 {
  font-size: 24px;
  font-weight: 700;
}
h6 {
  color: var(--color-neutral-dark);
}
.text-medium {
  font-size: 24px;
  font-weight: 500;
}
.text-regular {
  font-size: 20px;
  font-weight: 400;
}
.headline-regular {
  font-size: 17px;
  font-weight: 400;
}
.headline-medium {
  font-size: 17px;
  font-weight: 500;
}
.caption-1 {
  font-size: 15px;
  font-weight: 400;
}
.caption-2 {
  font-size: 13px;
  font-weight: 400;
}

header {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 15px;
  display: flex;
  align-content: center;
  font-weight: 500;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.nav-bar {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 15px;
  display: flex;
  align-content: center;
  font-weight: 500;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 0;
}
.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
}
.nav-bar a {
  margin: 0;
}
.container {
  margin: auto;
  max-width: 1200px;
  padding: 0px 15px;
}
.contentxl {
  margin: auto;
  max-width: 1400px;
  padding: 0px 15px;
}
a {
  text-decoration: none;
  color: var(--color-primary-default);
}
a.btn:hover {
background-color: var(--color-neutral-dark);
}
.btn {
  padding: 15px 30px;
  border: 0px;
  display: inline-block;
}
.btn-primary {
  background-color: var(--color-primary-default);
  color: white;
}
.btn-block {
  display: block;
  width: 100%;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-8 {
  margin-top: 8rem;
}
.mt-12 {
  margin-top: 12rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-8 {
  margin-bottom: 8rem;
}
.mb-12 {
  margin-bottom: 8rem;
}
.ml-2 {
  margin-left: 2rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-8 {
  padding-top: 8rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-4 {
  padding-bottom: 4rem;
}
.pb-8 {
  padding-bottom: 8rem;
}
#banner-hero {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto;
  flex-wrap: wrap;
}
.hidden {
  display: none;
}
.d-right {
  max-width: 50%;
  position: relative;
}
.d-left {
  max-width: 50%;
}
.heroBG {
  width: 100%;
}
.projectCard {
  width: 60%;
  left: -15%;
  top: -2%;
  position: absolute;
}
.projectAccepted {
  width: 60%;
  right: -14%;
  bottom: -20%;
  position: absolute;
}

#customers .container {
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.logo-customer {
  filter: grayscale(1);
  transition: transform 0.3s ease;
}
.logo-customer:hover {
  filter: none !important;
  transform: scale(1.2);
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 5%;
}
.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 300px;
  background-color: white;
}
.card {
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
}
.cardImg {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.cardBody {
  padding: 10%;
  width: 100%;
}
#services .cardBody {
  min-height: 380px;
}

.imgAuthor img {
  width: 100%;
}
.icon-card {
  padding: 12px;
  background-color: var(--color-neutral-light-blue);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 40px;
  height: 40px;
}
#testimonials {
  background-color: var(--color-neutral-dark);
}
.emoj1,
.emoj2,
.emoj3,
.emoj4 {
  position: absolute;
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: cover;
}
.emoj1 {
  top: 60px;
  left: 60px;
  background-image: url("../assets/testimonial-section/memoji-1.png");
}
.emoj2 {
  top: 60px;
  right: 60px;
  background-image: url("../assets/testimonial-section/memoji-2.png");
}
.emoj3 {
  bottom: 60px;
  left: 60px;
  background-image: url("../assets/testimonial-section/memoji-3.png");
}
.emoj4 {
  bottom: 60px;
  right: 60px;
  background-image: url("../assets/testimonial-section/memoji-4.png");
}
#testimonials h3 {
  color: var(--color-neutral-light);
}
#testimonials .comment {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
#testimonials .author {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.textAuthor {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  margin-left: 10px;
}
.textAuthor .name {
  color: var(--color-primary-hover);
}
.textAuthor .company {
  color: var(--color-neutral-light);
}
#testimonials p {
  color: var(--color-yellow);
  max-width: 480px;
  text-align: center;
}
#testimonials .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../assets/testimonial-section/orbit.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.imgAuthor {
  height: 60px;
  width: 60px;
  background-image: url("../assets/testimonial-section/profile.png");
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

#newsletter {
  background-color: var(--color-yellow);
  text-align: center;
  color: var(--color-neutral-dark);
}

#newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.fieldNewsletter {
  position: relative;
}
input.newsletter {
  padding: 1.8rem 66px;
  width: 350px;
  color: var(--color-neutral-dark);
}
input.newsletter::placeholder {
  color: var(--color-neutral-dark);
}
#newsletter form button {
  padding: 1.8rem 50px;
}
.emailIcon {
  position: absolute;
  left: 25px;
  top: 25px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.company {
  max-width: 270px;
}
.grid-container {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}
.item {
  width: 100%;
  padding: 10px;
  text-align: left;
  color: var(--color-neutral-medium);
}
.imgProject {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 1px 33px -10px #c42999;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contactForm input,
#contactForm textarea {
  padding: 1.8rem 66px;
  width: 100%;
  color: var(--color-neutral-dark);
  background-color: rgba(107, 112, 141, 25%);
}
.formline_x2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3rem;
}
.formline_x2 .formline {
  width: 100%;
  display: inline-block;
}
#contactForm label {
  display: block;
  padding-bottom: 1rem;
}
#contactForm input,
#contactForm textarea {
  padding: 1.8rem 20px;
}
@media (max-width: 496px) {
  .d-right {
    max-width: 100% !important;
    width: 80% !important;
  }
  .d-left {
    max-width: 100% !important;
    width: 100% !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2.5rem;
  }
  #newsletter .btn {
    width: 100%;
  }
  .emoj1 {
    display: none;
  }
  .emoj2 {
    display: none;
  }
  .emoj3 {
    bottom: -5px;
    left: 5px;
    background-image: url("../assets/testimonial-section/memoji-3.png");
  }
  .emoj4 {
    bottom: -5px;
    right: 10px;
    background-image: url("../assets/testimonial-section/memoji-4.png");
  }
  .mt-8 {
    margin-top: 4rem;
  }
  .mt-12 {
    margin-top: 6rem;
  }
  .links.grid-container {
    margin-top: 2rem;
  }
  .formline_x2 {
    flex-wrap: wrap;
  }
}
@media (min-width: 497px) and (max-width: 761px) {
  .d-right {
    max-width: 100% !important;
    width: 70% !important;
  }
  .d-left {
    max-width: 100% !important;
    width: 100% !important;
    align-items: center;
  }
  .emoj1 {
    display: none;
  }
  .emoj2 {
    display: none;
  }
  .emoj3,
  .emoj4 {
    bottom: 0px;
  }
  .formline_x2 {
    flex-wrap: wrap;
  }
}
@media (min-width: 762px) and (max-width: 980px) {
  .d-right {
    max-width: 100% !important;
    width: 30% !important;
  }
  .d-left {
    max-width: 100% !important;
    width: 70% !important;
  }
  .emoj1 {
    display: none;
  }
  .emoj2 {
    display: none;
  }
  .emoj3,
  .emoj4 {
    bottom: 0px;
  }
}
